.title-theme {
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  /* margin: 3.75rem 22.5rem 2rem; */
}
