* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: #06151a;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

body {
  background-color: #06151a;
}

.container {
  width: 62.5rem;
  max-width: 90%;
  margin: 0 auto;
}

.events {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
