* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: #06151a;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

body {
  background-color: #06151a;
}
